
.cabecalho{
    border: 2px solid black;
     
}

#logo_guitarra{
    margin: 10px;   
}

.cat{
    padding-left: 30px;
}

.texto_intro{
    margin-top: 25px;
    margin-bottom:25px;
    text-align: center;
}

article{
    border: 2px solid black;
    margin: auto;
    border-radius: 10%;
    width: 30%;
}
.titulo_pagina{
    text-align: center;
    border: 2px solid black;
    width: 40%;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 50px;
}
.foto_guitarra{
    height: 175px;
    width: 175px;
}
.footer1,.footer2{
    display: inline-block;
}

